.padd-r{
  padding-right:4rem;
}

.our-ser-pro{
     margin-top: -1rem;
     margin-left: 12rem;
     margin-bottom: 1rem;

}

.we-provide{

    padding-left: 9rem;
    margin-top:7rem;

}
.kart{  
    margin-left: 10px;
    width: 40px;
    border: 2px solid black;
    
  
}
.ord{
    margin-bottom: -1rem;
}
 .cart{
     padding: 1rem ;
    background-color: white;
    width:240px;
 }

.we-provide-bg{
background-color:#F0EFE9;

}
.we-provide1{

    padding-left: 9rem;
    margin-top:2rem;
}


.login-nav{

   
    height: auto;
 width:auto;
 border-radius: 2rem;
 background-color: #ead370;
 color: black;
 font-size: 18px;
 display:flex;
 text-align: center;
 align-items: center;
position: absolute;

 
}

.svg{

    margin-top: -4px;
}

.btn-login80{

    margin-top:-2.9rem;
    margin-left: 50px;
}
.svg1{

    margin-top:-30px ;
    margin-left:140px;
}
.svg2{
    margin-top:-10px ;
}

.svg3{

margin-top:-28px;
margin-left:108px;

}
.svg5{

    margin-top:-27px;
   
    margin-left: 103px; 
}
.svg-15{

    margin-top: -28px;
    margin-left:105px;
   
}

.svg-16{

    margin-top: -30px;
    margin-left:80px;
}

.svg-17{

    margin-top: -30px;
    margin-left:107px;
}

.btn-login67 {
margin-left:2rem;
 margin-top:5rem;
 height: 2.5rem;
 width: auto;
 border-radius: 2rem;
 background-color: #ead370;
 color: black;
 font-size: 18px;
 text-align: center;
}
.get-news{
    background-color:#F0EFE9;
     width: 100%;
}

.fotter{

    width: 100%;
}
.btn-login-2{

    height: 2.5rem;
    width: 9rem;
    border-radius: 2rem;
    color: rgb(0, 0, 0);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content:center;
}
.btn-login-1{
    height: 2.5rem;
 width: 10rem;
 border-radius: 2rem;
 background-color: #ead370;
 color: black;
 font-size: 18px;


}

.btn-login-1{
    height: 2.5rem;
 width: 10rem;
 border-radius: 2rem;
 background-color: #ead370;
 color: black;
 font-size: 18px;


}


.padd-t{
padding-top:1rem;

}

.pad-t{
   
    padding-top: 8rem;
}

.pad-left-1{
 padding-left: 11rem;
}

.h1{
color: rgb(15, 16, 14);
font-size: 60px;
font-weight: 700;

}

.clint-stars{


}
.clint-logo{
  
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.clint-logo ul{

     margin: 3rem;
     
}

.clint-logo ul li{

    margin: 1rem;
}

.box-sh{

    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px;    
}

.features{
 
    padding-left:4rem ;
    margin-top:4rem;
    color: rgb(226, 33, 33);

}


 
.btn-login-3{

    margin-top: 4rem;
    height: 2.5rem;
 width:80%;
 border-radius: 2rem;
 background-color: #ead370;
 color: black;
 font-size: 18px;
 font-weight: 600;
}

.para{
 
    margin-top: 1rem;
    font-size: 35px;

}
.para-1{

     color:rgb(159, 150, 150);
}
.about-company{

    margin-top: 4rem;
}
.card-img-top{
    width: 27rem;
    

}

 
.card-body{
 margin-top: -10rem;
 margin-left:-3rem ;
    background-color: rgb(167, 246, 246);
    width:300px;
    height:135px;
}
.founder{
color: red;
    
}
.about-company-1{

    
    margin-left:5rem;

}
.aboutus-title{
 color: red;


}
.aboutus-text-2{
  padding-top: 1rem;

}

.buttoms-row{
   
    padding-top:4rem;

}

.btn-maggi{
      
    margin-top:-1.2rem;
    margin-right:2rem;
}
.btn-login-5{

    height: 2.5rem;
    width: 9rem;
    border-radius: 2rem;
    background-color: #000000;
    color: rgb(218, 211, 211);
    font-size: 18px;
    margin-top: -69px;
    margin-left: 3rem;
}
.btn-login-6{
    height: 2.5rem;
    width: 9rem;
    border-radius: 2rem;
    
     margin-left: 7rem;
    color: rgb(0, 0, 0);
    font-size: 18px;
    display: flex;
    text-align: center;

}
.svg6{
    display: flex;
    text-align: center;
   

   
}


.our-services{

    margin-top:3rem;
    background-color:#80711a;

}
.card:hover{
    background-color: #F9D783;
}
.cart:hover{
    background-color: #F9D783;
}
.ord{
    color:red;
    padding:4rem;
    margin-left: 8rem;
}
.we-provide{
    font-weight:600;
    
}
.our-servies-words{
  margin-top: 5rem;
 margin-left:2rem;
}
.line{

    width:2.5rem;
   border-bottom: 2px solid rgb(0, 0, 0);
    min-height: 2px;
    margin-left:1rem;
    
}
.card-subtitle{
    margin-right:3rem ;
    margin-left: 1rem;
    font-size: 20px;

}

.our-servies{

background-color:#F0EFE9;
}

.card-text-1{

    margin-right:3rem ;
    margin-left: 1rem;
}
 .button5{
    background-color: #000000;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    margin-left:9rem;
    margin-bottom: 1rem;
    margin-top: 0.7rem;
  }
  .button5:hover{

    background-color: white;
    color: #000000;
  }

  .arrow:hover{
   color:black;

  }

  .button9{
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    margin-left:9rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  .btn-login-8{
    height: 2.5rem;
    width: auto;
    border-radius: 2rem;
    border-color: rgb(0, 0, 0);
     margin-left:130px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .why-chose-us1{
      color: red;
      margin-left: 5.5rem;
      
  }

.why-chose-us2{
    margin-left: 5rem;
    
}
.icons-text{
    margin-left: 4rem;
}
.icon{
    margin-top: 1rem;
}

    

.card-body-10{
     
    background-color:#F0EFE9;
    width:100%;
    height:18rem;
    margin-top:-14rem;
    margin-left: -5rem;
    z-index:-1;
 
}
.card-img-why-us{
   
    
    margin-top:8rem;
}
.Project-Studies{

    color: red;
    font-size: 20px;
    margin-left: 9rem;
    font-weight: 400;
}
.card-box{
     
    width: auto;
}
.global-projects{
   margin-bottom: 2rem;
    margin-left: 9rem;
}


.card-text-55{
   
    font-size: 16px;
    font-weight: 600;
   
    margin-bottom: 1rem;

}

   .our-global-btn{

    height: 2.5rem;
    width: 9rem;
    border-radius: 2rem;
   margin-top: 1rem;
     margin-left:-2rem;
    color: rgb(0, 0, 0);
    font-size: 18px;

}

.svg-14{
    margin-left:120px;
    margin-top:-27px;
}
.btn-login-22{

    height: 2.5rem;
    width: auto;
    border-radius: 2rem;
    color:#ffffff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content:center;
    background: rgb(0, 0, 0);
    margin-left: 7rem;
    padding: 25px;
    margin-top:0rem;
    font-weight: 400;
}
 
.btn-login-36{
    height: 2.5rem;
    width: auto;
    border-radius: 2rem;
    color:#ffffff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content:center;
    background: rgb(0, 0, 0);
    margin-left: 7rem;
    padding: 25px;
    margin-top:0rem;
    font-weight: 400; 
}

.btn-login-36:hover{
 
    background-color: white;
    border-radius: 1px soild white;
}

   .svg-13{

    margin-top:-30px;
    margin-left:105px;
   }
.svg-12{
    margin-top:-30px;
    margin-left:105px;
}
.svg-11{

    margin-top:-29px;
    margin-left:105px;
}
.our-global-btn:hover{
   background-color:black;
   color:white;
}
.meet-our-team{
 background-color:#f3cc69;
margin-top: 5rem;
}

.margi-2{
    margin-left: 6rem;
}
.meet-our{
    color: #F7622D;
    margin-left: 9rem;
    margin-top: 4rem;
}

.team-experince {
    margin-left: 15rem;
}
.team-experinec-members{

    font-weight:600;
  
}
.alligna{

    display: flex;
    align-items: center;
}


.card-team {

    width: 23%;
}
.our-team-btn{
     border-color: #000000;
    height: 2.5rem;
    width: auto;
    border-radius: 2rem;
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-right: 6rem;
}
.h2-team-text{
    margin-bottom: 5rem;
}

    .blog .carousel-indicators {
        left: 0;
        top: auto;
        bottom: -40px;
    
    }
    
    /* The colour of the indicators */
    .blog .carousel-indicators li {
        background: #a3a3a3;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        margin-top: 2rem;
         margin-left:0.5rem;
    }
    
  .margi-1{

    margin-bottom: 2rem;
  }
    .carousel-indicators {

        margin-left: 75px;
    }
    .blog .carousel-indicators .active {
    background: #707070;
   
    }
   .img-name{

    color:#000000;
    font-weight: 500;

   }
  
.discription-text{
   color: #6d6868;
    font-size: 12px;
}

.h4-testimonial{
    color:#FA714A;
    margin-left:22rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 20px;
    
}
  
.client-says{

    font-weight: 700;
    margin-left: 15rem;
    margin-bottom: 1rem;

}
.feedback-img{

    
}

.text-clint-title{

    color: #FA714A;
} 
.clint-name-title{

 font-size: 20PX;
}

 .text-clint-name-title{
       
       
 }

.text-clint-name{
   
     margin-top:20px;

}

.read-more-clint-feedback{
   background-color: #000000;
   height: 2.5rem;
   width: 9rem;
   border-radius: 2rem;
   color: white;
   font-size: 18px;
   margin-left: 80px;
   margin-bottom: 5rem;

}


.feeedback{
    width: 80%;
    background-color: #ffffff;
    
 
}

.news-article{

    color:#F96338;
}

.text-news{
    margin-top: 4rem;
}
.news-article,.news-article-h3 {
    
    font-weight: 700;
     margin-left:5rem
}

.get-news-btn{

    background-color: #ffffff;
   height: 2.5rem;
   width: 9rem;
   border-radius: 2rem;
   color: rgb(0, 0, 0);
   font-size: 18px;
   border-color: #000000;
    margin-bottom: -12rem;
    margin-left: 7rem;
   
}
.img{  

    margin-right:10px;
   
}


.datum{
       
    
      box-sizing: border-box;
      width: 77px;
     
      background-color: #F9D783;
      padding: 0;
      z-index:1; 
      position:absolute;
      margin:20px;

    }

    .date-2{

        box-sizing: border-box;
      width: 77px;
      height: 85;
      background-color: #F9D783;
      margin-top:-33rem;
      z-index:1; 
      position: relative;
      margin-left: 1rem;
    }
.day-1{
      font-size: 25px;
      font-weight: 700;
      text-align: center;
    
}

.month-1{
    font-size: 25px;
    text-align: center;


}




/*        index-2*/
 
 .btn-login-556 {
    height: 2.5rem;
 width:auto;
 border-radius: 2rem;
 background-color: #EAD370;
 color: black;
 font-size: 20px;
}



#search-box{
    
    border-radius: 35px;
    border: 2px solid rgb(197, 193, 193);
    height:40px;
}

.Updates-signup{
  
     margin-left:5rem; 
    
}
.company{

    margin-left: 4rem;
}


/* contat */

 .text-hold{
 margin-top: 9rem;

 }
 .Home-contact{

    font-size: 20px;

 }

 .heading-section{

    font-size: 50px;
    margin-bottom: 80px;
 }

 .contact-info{


    margin-bottom: 5rem;
 }
.contact-adrees {

     width:100%;
    
    border: 1px solid rgb(197, 202, 197);
}

.text-us{
    
font-weight: 700;
font-size: 25px;
margin-top:25px ;
margin-bottom: 5px;

}

.icon-hold{

    margin-top: 3rem;
    margin-left: 1rem;
    
}
.contact-desc{
 color: #5f5959;
  font-weight: 400;
  margin-bottom: 1rem;

}

.leave-massage{

    margin-top: 6rem;
    font-size: 35px;
    font-weight: 500;
    color:black;
    
}

.form-group{
    border: 2px solid red;
   padding: 5px;
    border-radius: 50px;
    width: 100%;
    margin-bottom: 1rem;
}

.news-card{

    width: 33%;
}

.h5-des {

    font-size: 20px;
}

.paragraph-news{

    color: #998383;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

  .sign-in{

    width: 73%;
  }
  
  .leave-massegae{
    margin-top: 5rem;
    font-size: 30px;
    font-weight: 600;
  }

  .contact-cards {

     width:31% ;
     border: 1px solid rgb(208, 191, 191);
     margin:10px;
  }
  
  .inputs-color{


     background-color: #E5E4DE;
  }

  .form-control-1{


    border-radius: 20px;
  }

  .send-massage{

      width: 100%;
      background-color: #ead370;
    
  }

  .form-control-2{

    resize: none;

  }

  textarea::placeholder{
    color: black;
    font-size: 22px;
    z-index: 1;
  }

 .info-box-1{

    border-color: #000000;
 }

 .leav-us-info{

    margin-top: 4rem;
 }

 .maggi-2{

    margin-left: 50px;
 }

 .maggi-3{

    margin-left:35px;
 }

 .text-hold{
    
   

    background: #F0EFE9;
 }
.adding-all{

    background: #F0EFE9;
}

.card-box1{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.nav-link:hover {
    opacity: 1;
  }
  
  nav ul li{
    position: relative;
  }
  .nav-link::before {
    transition: 300ms;
    height: 3px;
    content: "";
    position:absolute;
    background-color: #031D44;
  }
  
.nav-link-ltr::before {
    width: 0%;
    bottom: 0px;
  }
  
  .nav-link-ltr:hover::before {
    width: 80%;
  }

  .social-icon{

    margin-left:25px;
  }